task name="analyze_reviews" {
  directive name="main" {
    param name="place_id"   required=true  type="String"
    param name="language"   required=true  type="String"
    param name="place_data" required=true  type="Hash"
    param name="reviews"    required=true  type="Array"

    use name="review_scores"
    use name="review_patterns"
  }
}

